/* Fuentes base, colores */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');
/* test importacion de otra font */

:root {
    --rojo: #ff3432;
    --azul: #5cafee;
    --amarillo: #f3ab33;
    --grisClaro: #c1cce3;
    --grisMuyClaro: #e2ecfa;
    --blanco: #ffffff;
    --negro: #2a2c30;
}

/* Reset básico */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;

}

/* PRELOADER, FONDO Y POKEMON-CONTAINER */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 9999; /* Ensure preloader is on top */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-in-out; /* Transition for fade-out effect */
    background: url('../img/abrir_2.gif') center center / cover no-repeat;
    /* ya no necesario
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-in-out;
 */
}
#preloader img {
    max-width: 100%;
    height: auto;
}

/* gradiente de fondo */
body {
    font-family: 'Rubik', 'Oswald', 'Helvetica', 'Arial', sans-serif;
    background: linear-gradient(to bottom, #019fff, #74d5ff), url('fondo.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: relative;
}


.background-image {
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/fondo_transp.png') center center / cover no-repeat;
    z-index: -1;
}

.pokemon-container {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

/* .fin estilos para .Preloader y fondo */

/* NAVBAR Y FOOTER */
*,
*::before,
*::after {
    box-sizing: inherit;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar,
.footer,
.container {
    width: 100%;
    box-sizing: border-box; /* en el css veo que no se esta aplicando, dejarlo porsiaca de todos modos de momento */
}

.navbar {
    background-color: var(--rojo);
    background-image: url(../img/navbar_3.png);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

/* cambios a furza brutal manual */
@media (min-width: 1536px) {
    .container {
      max-width: 2160px;
    }
  }
/*.cambios a furza brutal manual*/


.navbar-left,
.navbar-center,
.navbar-right {
    display: flex;
    align-items: center;
}

/* Enlaces de la izquierda */
.navbar-left .nav-link {
    margin-right: 20px;
    text-decoration: none;
}

/* Barra de búsqueda en el centro */
.navbar-center {
    flex-grow: 1;
    justify-content: center;
}



/* Botón de login y menú hamburguesa a la derecha */
.navbar-right {
    position: relative;
}

.hamburger-menu {
    display: none;
    /* Oculto por defecto */
    font-size: 24px;
    background: none;
    border: none;
}

/* Menú móvil */
.mobile-menu {
    display: none;
    /* Oculto por defecto */
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
}

.mobile-menu .nav-link {
    margin: 10px 0;
}

/* para pantallas no móviles!!! */
@media (min-width: 769px) {
    .navbar {
        height: 10vh;
        /* 10% del alto de la pantalla */
    }

    .footer {
        height: 10vh;
        /* 10% del alto de la pantalla */
        background-color: var(--rojo);
        background-image: url(../img/footer_3.png);
    }
}

/* para pantallas móviles */
@media (max-width: 768px) {
    .navbar-left,
    .navbar-center {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    .navbar,
    .footer,
    .container {
        padding: 20px;
        /* Puedes ajustar esto según sea necesario */
    }

    .footer {
        background-color: var(--rojo);
        background-image: url(../img/footer_3.png);
    }

    
    .lista {
        flex-direction: column;
        height: auto;
        max-width: 100%;
        overflow-y: auto;
        gap: 20px;
    }
}

.container {
    /* en el mismo div que la clase pokemon-container! */
    flex: 1;
}

/* OTROS: */
.search-input,
.search-button {
    height: 40px;
    border-radius: 15px;
    border: 1px solid #ccc;
    padding: 0 15px;
    margin-right: 5px;
    font-size: 16px;
    outline: none;
}

.search-input:focus {
    outline: none;
    border: 2px solid var(--amarillo);
}

.search-button {
    background-color: #800000;
    color: white;
    cursor: pointer;
    border: 1px solid #800000;
    transition: background-color 0.3s, border-color 0.3s;
}

.search-button:hover {
    background-color: #990000;
    border-color: #990000;
}

.search-button:focus {
    border-color: #800000;
}

.link-navegacion {
    text-decoration-line: underline;
    padding: 8px;
    padding-left:15px;
    padding-right:15px;
    margin-left:10px;
    border-radius: 15px;
    color: var(--negro);
    cursor: pointer;
    border: 1px solid transparent;
    transition: background-color 0.5s, border-color 0.5s;
}
.link-navegacion:hover {
    background-color: #990000;;
    border-radius: 15px;
    color:var(--blanco);
}
.link-login {
    background-color: #f2ff00;
    text-decoration-line: none;
    border-radius: 15px;
    padding:8px;
    padding-left:15px;
    padding-right:15px;
    margin-right:20px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: background-color 0.5s, border-color 0.5s;
}
.link-login:hover {
    background-color: #96c02b;
    text-decoration-line: none;
    color:var(--negro);
    border-radius: 15px;
}

/* .OTROS */

/* PAGINA HOME, PARA EL POKEMON-CONTAINER */
.lista {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 20px;
    gap: 10px;
    height: 80vh;
    max-width: 100vw;
    align-items: center;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.pokemon-item {
    flex: 0 0 auto;
    /*width: 230px;
    height: 350px;*/
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    margin: 5px 0;
}

.pokemon-image {
    width: 100%;
    height: auto;
}

.types-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* Permite que los tipos se envuelvan */
}

.type-text {
    text-align: center;
    border: 1px solid #000;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    background-color: #f0f0f0;
}

/* para los tipos, funciona */
.tipo-fire {
    background-color: red;
    color: white;
}

.tipo-water {
    background-color: blue;
    color: white;
}

.tipo-grass {
    background-color: green;
    color: white;
}

.tipo-ghost {
    background-color: purple;
    color: white;
}

.tipo-normal {
    background-color: gray;
    color: white;
}

.tipo-fighting {
    background-color: orange;
    color: black;
}

.tipo-bug {
    background-color: lime;
    color: white;
}

.tipo-dark {
    background-color: black;
    color: white;
}

.tipo-electric {
    background-color: gold;
    color: black;
}

.tipo-fairy {
    background-color: pink;
    color: white;
}

.tipo-rock {
    background-color: brown;
    color: white;
}

.tipo-flying {
    background-color: skyblue;
    color: black;
}

.tipo-psychic {
    background-color: magenta;
    color: white;
}

.tipo-poison {
    background-color: darkgreen;
    color: white;
}

.tipo-ground {
    background-color: sienna;
    color: white;
}

.tipo-steel {
    background-color: silver;
    color: black;
}

.tipo-dragon {
    background-color: indigo;
    color: white;
}

.tipo-ice {
    background-color: cyan;
    color: black;
}

.tipo-unknown {
    background-color: beige;
    color: black;
}


