/* incluir bootstrap */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
    --rojo: #ff3432;
    --azul: #5cafee;
    --amarillo: #f3ab33;
    --grisClaro: #c1cce3;
    --grisMuyClaro: #e2ecfa;
    --blanco: #ffffff;
    --negro: #2a2c30;
}

html,
body {
    color: var(--negro);
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: 'Rubik', sans-serif;
    background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0%;
}

/* Estilos base */
p, h1, h2, h3, label, a {
    color: var(--negro); 
}

button, input[type="submit"] {
    background-color: var(--amarillo);
}


button, input[type="submit"] {
    background-color: var(--amarillo);
}

button:hover,
input[type="submit"]:hover {
    background-color: #ffaa00; /* Cambia el color de fondo al hacer hover */
    color: var(--negro); /* Cambia el color del texto a blanco */
}

header {
    background-color: var(--rojo);
    color: var(--blanco);
    padding: 10px 0;
    text-align: center;
}

nav {
    background-color: var(--rojo);
    color: var(--blanco);
    padding: 0 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    flex: 1;
    text-align: center;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

nav ul li input[type="text"] {
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
    width: 100%;
    max-width: 200px;
}

nav ul li button {
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

@media (max-width: 452px) {
    nav ul li {
        flex: 0 1 auto;
        text-align: center;
    }

    nav ul li input[type="text"] {
        width: 80%;
        max-width: none;
    }

    nav ul li button {
        display: block;
        margin-top: 5px;
        width: 80%;
    }
}


footer {
    background-color: var(--rojo);
    color: var(--blanco);
    padding: 30px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}



a:link,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    justify-content: center;
    align-content: center;
    margin: 20px;
}

.redondearbordes {
    border-radius: 50px;
}



/* Estilos para las imágenes de los Pokémon */
/* sacado de chatgpt, simplemente para ir tirando hasta que tengamos
verdaderamente el diseño */

.pokemon-img {
    /* miniaturas para pag mis equipos, que en realidad quiero que sean
las miniaturas de la api de pixel art */
    width: 50px;
    height: 50px;
}

.pokemon-img:hover::after {
    /* para que cuando pase el raton por encima
salga el simbolo - de quitar pokemon del equipo */
    content: '-';
    position: absolute;
}