
  @import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');

  .modalEliminacion,
  .modalRenombrar {
    border-radius: 30px;
  }

  .modalRenombrar {
    padding: 30px;
  }

  button,
  .inputRenombrar {
    border-radius: 15px;
  }

  .botonCancel:hover {
    background-color: grey;
  }

  .inputRenombrar:focus {
    outline: none;
    border: 1px solid red;
  }

  .alerta {
    padding: 30px;
    font-size: larger;
  }
