
  @import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');

  .modalEliminacion,
  .modalRenombrar {
    border-radius: 30px;
  }

  .modalRenombrar {
    padding: 30px;
  }

  button,
  .inputRenombrar {
    border-radius: 15px;
  }

  .botonCancel:hover {
    background-color: grey;
  }

  .inputRenombrar:focus {
    outline: none;
    border: 1px solid red;
  }

  .alerta {
    padding: 30px;
    font-size: larger;
  }

/* modal de ficha pokemon de añadir a equipos */
  #close-checkbox-modal-btn:hover {
     /* Hace que el botón sea completamente redondo */
}

.boton-submit{
  width: 100%;
  padding: 10px;
  background-color: var(--amarillo);
  color: #000;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: background-color 0.5s, border-color 0.5s;
}

.boton-submit:hover{
  background-color: #ffc258;
  border-color: #ffc258;
}
.boton-submit:focus{
  cursor: pointer;
  border: 1px solid #f3ab33;
  border-color:#f3ab33;
}