body {
  background: rgb(85, 144, 189);
  background: linear-gradient(
    90deg,
    rgba(85, 144, 189, 1) 0%,
    rgba(108, 183, 240, 1) 54%,
    rgba(182, 216, 242, 1) 82%
  );
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-family: "Oswald", sans-serif;
}

h1 {
  color: white;
}

.pokemon-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  margin-top: 20px;
}

.pokemon-block,
.pokemon-block-back {
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
 border:none;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Asegúrate que ocupa todo el ancho del contenedor padre */
  height: 120px; /* Altura fija para mantener consistencia */
  background-image: url("./blob.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.img-container img {
  max-width: 100%; /* Limita el ancho de la imagen al del contenedor */
  max-height: 100%; /* Limita la altura de la imagen a la del contenedor */
}

.pokemon-block p {
  margin: 5px;
}

.name {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.2rem;
}

#spinner {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
}

.pagination {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.card-container {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .card-container {
  transform: rotateY(180deg);
}

.pokemon-block,
.pokemon-block-back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.pokemon-block-back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0%;
}

.stat-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  text-align: left;
}

/* Media query para pantallas con un ancho máximo de 900px */
@media (max-width: 600px) {
  .pokemon-container {
    grid-template-columns: 1fr;  /* Cambio a una sola columna */
  }
}
